<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title }}</title>
</head>
<body>
    <header>
        <h2>
            <a id="header-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </h2>
        <nav class="nav-links">
            <a href="{{ 'about' | relative_url }}">Sobre nós</a>
        </nav>
    </header>
    <main>
        {{content}}
    </main>
    <footer>
        <h2>
            {{ site.title }}
        </h2>
        <p>
            {{ site.description }}
        </p>
    </footer>
</body>
</html>

